.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1.73em solid rgba(0, 0, 0, 0.4); /* 1.73 is approximately sqrt(3) */
    font-size: 2em;
    color: white;
    outline: none;
    position: relative;
    margin: 0 0.5em; /* Adjust margin as needed */
}

button::before {
    content: '🌳'; /* Tree symbol */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em; /* Adjust font size as needed */
    z-index: 1;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;